@media only screen (max-width:320px){
	font-size:30em;
 }
 fbody {  
	background: radial-gradient(tan,silver);
	}

.btn {
	font-size: 3em;
}


.card-img-top {
	vertical-align: 12%
	padding:12%;
}

footer {
	text-align: center;
}

.card {
	position:relative;
	background-color: transparent;

}
article {
	padding: 25%;
}