
nav {
	text-align: center;
}

section {
	text-align: center;
}

nav {
	background-color:black;
}

footer {
	text-align: center;
	background-color: black;
	font-color:white;
}

.trademark {
	background-color: black;
}

@media screen (max-width: 320px){
	background-img: 320px;

}
