nav {
  text-align: center;
}

section {
  text-align: center;
}

nav {
  background-color: black;
}

footer {
  text-align: center;
  background-color: black;
  font-color: white;
}

.trademark {
  background-color: black;
}

@media only screen and (max-width: 600px) {
  body {
    float: none;
    width: 100%;
    background-color: rgb(19, 54, 209);
  }
}
